
body {
    background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
    background-repeat: no-repeat;
  }
  .form-wrapper{
    margin: 1rem;
  }
  div {
    text-align: center;
}
  label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;

  }
  .myLabel {
    text-align: right !important;
    font-weight: bold;
    font-family: 'Heebo' !important;
    font-size: 1rem !important;
}
  div{
 

  }
  #submit-btn {
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px var(--main-color);
  }

  /* h2{
    text-align: center;
    font-weight: bold;
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    box-shadow: 0px 1px 8px #24c64f;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
  } */