<!-- <p>scooter works!</p> -->
<div [ngSwitch]="eScooter">
  
    <div *ngSwitchCase="EScooter.AllScooter">
        <!-- AllScooter  -->
        <app-list [list]="list" (objectCheck)="GetOrderID($event)"></app-list>
    </div>
    <div *ngSwitchCase="EScooter.UpdatStatScooter">
        UpdatStatScooter  <!-- <app-list [list]="list" (objectCheck)="GetOrderID($event)"></app-list> -->
    </div>
    <div *ngSwitchCase="EScooter.AddScooter">
        AddScooter  <!-- <app-list [list]="list" (objectCheck)="GetOrderID($event)"></app-list> -->
    </div>
    <div *ngSwitchCase="EScooter.AddNoteScooter">
        AddNoteScooter  <!-- <app-list [list]="list" (objectCheck)="GetOrderID($event)"></app-list> -->
    </div>
    <div *ngSwitchCase="EScooter.AddScooterToStorage">
        AddScooterToStorage  <!-- <app-list [list]="list" (objectCheck)="GetOrderID($event)"></app-list> -->
    </div>
    <div *ngSwitchCase="EScooter.PerceptionScooter">
        PerceptionScooter  <!-- <app-list [list]="list" (objectCheck)="GetOrderID($event)"></app-list> -->
    </div>
</div>