body{
    direction: rtl;
    text-align: initial !important;
    
}
div{
    direction: rtl;
}

h1{
    text-align: right;
}
button{
    text-align: right;
}
l1{
    text-align: right;
}
a{
    text-align: right;
}
