
ul{
    padding:0;
    margin: 0 20px 0 20px;
list-style: none;
}
nav a{
    width: 100px;
    display:block;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #f2f2f2;
    width: fit-content;
    text-align:center ;
}
a.nav-link {
    font-size: 1.2rem !important;
    cursor: pointer;
}
#nav ul li:hover a, .active .nav-link{ 
    color:black !important;
}
.bg-dark {
    background-color: var(--main-color) !important;
}


