<div>
    <div>
        <h2>מס הזמנה: {{futureOrder.Id}}</h2>
    </div>
    <div class="center">
        <label class="myLabel">לתאריך :</label>
        &nbsp;<label> {{futureOrder.DateOrder}}</label><br>
        <label class="myLabel">מקום:</label>
        &nbsp;<label> {{futureOrder.LocationOrder}}</label><br>
        <label class="myLabel">תאריך יצירת הזמנה:</label>
        &nbsp;<label> {{futureOrder.CreatedOn}}</label><br>

        <div *ngIf="futureOrder.StatusId==4 && userId.IsManage==true">
            <button (click)="UpdateStatus(6)" class="button">אישור הזמנה</button>
            <button (click)="UpdateStatus(7)" class="button">ביטול הזמנה</button>
        </div>
    </div>
    <div>
        <app-base-note [note]="note" (objectCheck)="EnableButton($event)"></app-base-note>
    </div>
    <div>
        <app-list [list]="allNote" (objectCheck)="NavigateAboutNote($event)"></app-list>
    </div>
</div>