<h2>מס הזמנה: {{futureOrder.Id}}</h2>
<div>
    <label>לתאריך :{{futureOrder.DateOrder}}</label><br>
    <label>מקום :{{futureOrder.LocationOrder}}</label><br>
    <label>מיקום סיום:{{futureOrder.Priority}}</label><br>
    <label>תאריך יצירת הזמנה:{{futureOrder.CreatedOn}}</label><br>
    <div *ngIf="futureOrder.StatusId==4 && userId.IsManage==true">
        <button (click)="UpdateStatus(6)" >אישור הזמנה</button><br>
        <button (click)="UpdateStatus(7)">ביטול הזמנה</button><br>
    </div>
    <app-base-note  [note]="note" (objectCheck)="EnableButton($event)"></app-base-note>
</div>

