<div>
    <div>
        <h2>קורקינט מס:{{scooter.Id}}</h2>
    </div>
    <div class="center">
        <div>
            <label class="myLabel">כתובת:</label>&nbsp;
            <label> {{scooter.FullAddress}}</label>
        </div>
        <div>
            <button (click)="Perception()" class="button">תפיסה</button>
        </div>
    </div>
    <div>
        <br>
        <br>
        <div fxFlex="100" class="map-full-card-content">
        <label class="myLabel">מיקום הקורקינט במפה:</label>
            <agm-map [latitude]="scooter.GoogleCoordinateX" [longitude]="scooter.GoogleCoordinateY" [zoom]="13">
                <agm-marker [latitude]="scooter.GoogleCoordinateX" [longitude]="scooter.GoogleCoordinateY"></agm-marker>
            </agm-map>
        </div>
    </div>
<!-- 
    <agm-map [latitude]="24.799448" [longitude]="120.979021">
        <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
      </agm-map> -->
</div>