<div>
  <div>
    <div>
      <h2 *ngIf="newScoot.Id ==0">הוספת קורקינט </h2>
      <h2 *ngIf="newScoot.Id !=0">עדכון מיקום קורקינט </h2>
    </div>
  </div>
  <div class="center">
    <form [formGroup]="newScootForm" (ngSubmit)="onFormSubmit()" data-toggle="modal">
      <div>
        <button (click)="SetContent(1)" class="button">למחסן</button>
        <button (click)="SetContent(2)" class="button"> לרחוב</button>
      </div>
      <div *ngIf="inStorage==1">
        <div>
          <label class="myLabel">למחסן</label><br>
        </div>
        <div>
          <app-personal-area (storageId)="SetStorage($event)"></app-personal-area>
        </div>
      </div>
      <div *ngIf="inStorage==2">
        <!-- <div>
          <label class="myLabel">מיקום</label><br>
        </div> -->
        <div>
          <app-way (placeOut)="GetPlace($event)"></app-way>
        </div>
      </div>
      <div *ngIf="but">
        <button type="submit" class="button">אישור</button>
      </div>
    </form>
  </div>
</div>