<div>
    <div>
        <div class="list-ttl">
            <h2>{{list.Title}}</h2>
        </div>
        <div>
            <div class="list-group-sw">
                <div class="list-item-sw" *ngFor="let item of list.List" (click)="LiClick(item.Key)">
                    <b>{{item.Title}}</b>&nbsp;
                    <span>{{item.Value}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="centered-text">
        <div *ngIf="list.List.length === 0 && isLoading">
            <h5>**אין רשומות להצגה**</h5>
        </div>
    </div>
</div>