* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin-right: 25%;
    font-size: 0.9em;
    min-width: 25%;
    max-width: 50%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 0;
  }
  
  .thead{
    text-align: center;
    font-weight: bold;
    background: -webkit-linear-gradient(right, #3a84b6, #56bbbe, #73c7a4, #61cf8f);
    border: none;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
  }

  
  .content-table ul li {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table ul li:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table ul li:last-of-type {
    border-bottom: 2px solid white;
  }
  
  .content-table ul li.active-row {
    font-weight: bold;
  }
  button{
   align-items: left;
direction: rtl;
  }
 