<div [ngSwitch]="eOrder">
   <div *ngSwitchCase="EOrder.AllOrders">

      <app-list [list]="allStatus" (objectCheck)="GetStatusID($event)"></app-list>

      <app-list [list]="allOrders" (objectCheck)="GetOrderID($event)"></app-list>
   </div>
   <div *ngSwitchCase="EOrder.EditOrder">
      EditOrder
      <!-- <app-list [list]="list" (objectCheck)="GetOrderID($event)"></app-list> -->
   </div>
   <div *ngSwitchCase="EOrder.waitAcceptOrder">
      waitAcceptOrder
      <!-- <app-list [list]="list" (objectCheck)="GetOrderID($event)"></app-list> -->
   </div>

</div>