<p>storage works!</p>
<div [ngSwitch]="eStorage">
    <div *ngSwitchCase="EStorage.MyStorage">
          <app-list [list]="allStorage" (objectCheck)="GetStorageID($event)"></app-list>
    </div>
    <div *ngSwitchCase="EStorage.NewStorage">
        NewStorage 
    </div>
    <div *ngSwitchCase="EStorage.ScooterInStorage">
        <app-list [list]="allStorage" (objectCheck)="GetStorageID($event)"></app-list>
    </div> 
    <div *ngSwitchCase="EStorage.CountScooterInStorage">
      <app-list [list]="allStorage" (objectCheck)="GetStorageID($event)"></app-list> 
    </div>
     <div *ngSwitchCase="EStorage.AboutStorage">
        AboutStorage
    </div>
</div>
