<BR>
    <div style="margin-top:5%;" class="container">
  <hr class="h1">
  <hr class="h2">
        <div class="form d-flex row">
            <div class="display-4 text-center">
            <div style="margin-top: 5%;">ברוכים הבאים ל- SCOOTWAY</div>  </div>        
        <div class="display-5 text-xl-center" style="margin-right: 2%;">
        </div>
        <div style="float:left;" class="image col-sm-3">
        </div>
    </div>
    <div>
    </div>
    <hr class="h2">
    <hr class="h1">
  </div>       