html, body {
    width: 100%;
    height: 100%;
  }
  .banner{
    width: 100%;
    height: 90.5%;
    background-image:linear-gradient(rgb(76 76 76 / 88%),rgba(173, 163, 163, 0.164)),url(../../../assets/img/baground.jpg);
    background-size: cover;
    background-position: center;
  }
  h1{
    color: white;
    font-weight: 900;
  }
  .display-5.text-xl-center {
    color: white;
}

