<div class="banner">
<BR>
    <div style="margin-top:5%;" class="container">
  <hr>
  <hr>
  <h1 class="text-xl-center" >ברוכים הבאים ל- SCOOTWAY </h1>
  <div>
        <div class="display-5 text-xl-center" style="color: rgb(0, 0, 0);font-size: medium;" >
          האתר מאפשר ללקוח השכרה קורקינט קלה ונוחה<br/>
           וניווט למיקום היעד שלשם הוא רוצה להגיע <br/>
          האתר הוקם במטרה לאפשר ללקוחות אשר רוצים<br/>
           הזמנה עתידית של כמות קורקינטים ללא בעיה <br/>
           של תריחה של הורדת אפליקציה וכמות מוגבלת <br/>
          המשתמש החדש יצטרך לפתוח חשבון חדש בו <br/>
          הוא יוכל להתחיל להנות בהשכרה מהירה ונוחה<br/>
          על מנת להשכיר קורקינט יצטרך המשתמש להכניס <br/>
        <div style="float:left;" class="image col-sm-3">     
    </div>
    <div>
    </div>
    <hr>
    <hr>
  </div>
</div>
