
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class=" nav navbar-nav navbar-right">        
      <li class="nav-item active" *ngFor="let right of rightNav" (click)="Main(right.onClick)">
        <a class="nav-link" *ngIf="right.link" href="{{right.link}}">{{right.nameButton}}</a>
        <a class="nav-link" *ngIf="!right.link">{{right.nameButton}}</a>
        <span class="sr-only">(current)</span></li>
      </ul>
      <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active" *ngFor="let left of leftNav"  (click)="Main(left.onClick)">
        <a class="nav-link" *ngIf="left.link"  href="{{left.link}}"> {{left.nameButton}}</a>
        <a class="nav-link" *ngIf="!left.link"> {{left.nameButton}}</a>
        <span class="sr-only">(current)</span></li>
    </ul>
    
  </div>
</nav>

<router-outlet></router-outlet>