<form class="my-form" [formGroup]="favoriteForm">             
    <div>
        <h5>יצירת מסלול חדש:</h5><br/>
        <div>
            <h6>מיקום התחלה:</h6>
        <input name="place_changed" placeholder="התחל להקליד" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </div>
        <div>
        <h6>מיקום היעד:</h6>
        <input name="place_changed" placeholder="התחל להקליד" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">   
        </div>
        <agm-map [latitude]="lat" [longitude]="lng"  [zoom]="20">
            <agm-marker title="title" [latitude]="lat" [longitude]="lng"></agm-marker> 
        </agm-map>
    </div>
    
</form>


