<form  class="my-form" >
    <div>
        <h5>יצירת מסלול חדש:</h5><br/>
        
        <div>
        <h6>מיקום נוכחי:</h6>
       <label>עיר: </label><br/><input type="text" id="cityName" placeholder="תל אביב"/> <br/>
        <label>רחוב: </label><br/><input type="text" id="streetName" placeholder="הפרחים"/><br/>
        <label>מספר: </label><br/><input type="number" id="numberStreet" placeholder="10"/><br/>
        </div>

        <div>
        <h6>מיקום היעד:</h6>
        <label>עיר: </label><br/><input type="text" id="cityName" placeholder="תל אביב"/> <br/>
        <label>רחוב: </label><br/><input type="text" id="streetName" placeholder="הברזל"/><br/>
        <label>מספר: </label><br/><input type="number" id="numberStreet" placeholder="2"/><br/>             
        </div>

    </div>
  </form>