/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';
@import './app/app.component.css';
@import '~@angular/cdk/overlay-prebuilt.css';
html, body { height: 100%; }
/* body {  } */
body{
    direction:rtl;
    text-align: center ;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
.myHeader {
    color: #1c3b02;
    text-align: center;
}
.myLabel{
    text-align: right !important;
}
div{
    line-height: 200%;
  }
  .button{

  }
  .divList{

  }
  .note{
      
  }
  .contextNote{

  }
  .input{
      
  }
  