/* div.card {
    margin: 1em;
    padding: 0.8em;
    background: #b1eb8f;
    width: 100%;
    
}
div.button.btnleft{
    width: 20%;
    align-self: end;
    text-align: center;
    float: left;
}
h2{
text-align: center;
margin: 1em;
margin-bottom: -1.2em;
padding-right: 2em;
} 
label.bor{
  border-style: none none solid none;
  border-width: 1px;
} */
