<br><br>
<div class="container">
    <div>
        <div >
            <h4 class="font-weight-bold mb-3 myHeader">שם מחסן: {{storage.Name}}</h4><br>
            <div class="center">
                <div>
                    <label class="myLabel">מספר מחסן: </label>
                    &nbsp;<label>{{storage.Id}}</label>
                </div>
                <div>
                    <label class="myLabel">מיקום מחסן: </label>
                    &nbsp;<label>{{storage.FullAddress}}</label>
                </div>

                <div *ngIf="storage.StatusId==1">
                    <label class="myLabel">סטטוס: </label>
                    &nbsp;<label> פעיל</label>
                    <div>
                        <button (click)="UpdateStatus(2)" class="button">הפוך ללא פעיל</button><br>
                    </div>
                </div>

                <div *ngIf="storage.StatusId==2">
                    <label class="myLabel">סטטוס: </label>
                    <label> לא פעיל </label>
                    <div>
                        <button (click)="UpdateStatus(1)" class="button">הפוך לפעיל</button><br>
                    </div>
                </div>
            </div>
            <div>
                <app-list [list]="allScooter" (objectCheck)="NavigateAboutScooter($event)"></app-list>
            </div>
        </div>
    </div>
</div>