<!-- <div id="map"></div>   -->
   <div class="container">
      <div class="form d-flex row">
          <div class="col-sm-6">
              <form class="my-form" [formGroup]="autoCompleteForm">
                  <div class="form-group md-form">
                      <label>הקלד מיקום:</label>
                      <!-- <i class="fas fa fa-map-marker"></i> -->
                      <input name="place_changed" placeholder="התחל להקליד" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                    </div>
                    
</form>

