
<h2>מס קורקינט: {{scooter.Id}}</h2>
<div>
    <label>מקום :{{scooter.FullAddress}}</label><br>
    <label *ngIf="scooter.IsFree">מצב : תפוס </label><br>
    <label *ngIf="!scooter.IsFree">מצב : משוחרר</label><br>
    <div *ngIf="!scooter.IsFree">
        <button *ngIf="scooter.StatusId==1" (click)="UpdateStatus(2)" >הפוך ללא פעיל</button><br>
        <button *ngIf="scooter.StatusId==2" (click)="UpdateStatus(1)">הפוך לפעיל</button><br>
        <button *ngIf="scooter.StatusId==2" (click)="UpdatePlace()">עדכון מיקום</button><br>
    </div>
    
    <app-base-note  [note]="note" (objectCheck)="EnableButton($event)"></app-base-note>
</div>

