<div class="centered-text">
    <div>
        <h2>מס קורקינט: {{scooter.Id}}</h2><br>
    </div>
    <div>
        <label class="myLabel">כתובת:</label>
        <label> {{scooter.FullAddress}}</label>
    </div>
    <div class="textout centered-text">
        <div  *ngIf="scooter.IsFree">
            <label class="myLabel">סטטוס: </label>
            <span>תפוס</span>
        </div>
        <div *ngIf="!scooter.IsFree">
            <label  class="myLabel">סטטוס: </label>
            <span>משוחרר</span>
        </div>

    </div>
    <div *ngIf="!scooter.IsFree" class="btnplace">
        <h5>פעולות על הקורקינט:</h5>
        <button *ngIf="scooter.StatusId==1" (click)="UpdateStatus(2)" class="button">הפוך ללא פעיל</button>
        <button *ngIf="scooter.StatusId==2" (click)="UpdateStatus(1)" class="button">הפוך לפעיל</button>
        <button *ngIf="scooter.StatusId==1" (click)="UpdatePlace()" class="button">עדכון מיקום</button>
    </div>
    <div>
        <h5>הערות:</h5>
        <app-base-note [note]="note" (objectCheck)="EnableButton($event)"></app-base-note>
    </div>
    <div>
        <app-list [list]="allNote" (objectCheck)="NavigateAboutNote($event)"></app-list>
    </div>
</div>